body {
    font-family:'Lato', sans-serif;
    font-size:1em;
    color:#777;
    font-weight:300;
    line-height:1.7;
    overflow-x:hidden;
}
 
h1,h2,h3,h4,h5,h6 {
    color:#333;	
    line-height:1.4;
    font-weight:700;
}
.glow{
  font-family: 'Varela Round', cursive;
  font-weight:500;
  font-size:400%;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}	
.mx-width {
    max-width:960px;
    margin:0 auto;
}
 
a,a:hover {
    color:#563d7c;
    text-decoration:none;
}
 
img{
  width:100%;
  max-width: 100%;
  height:auto;
}

.carousel-inner img {
      width: 15%;
	  max-width:20%;
      height: 20%;
  }
 
.card-img-top{
  width:100%;
  height:auto;
}
 
header {
    padding-bottom:50px;
}
 
.display-2 {
    font-family:'Lato';
    font-size:60px;
    line-height:1;
    font-weight:300;
    color:#fff
}
 
.learn {
    font-family:'Lato';
    font-size:27px;
    line-height:1.4;
    font-weight:300;
    color:#fff;
}
 
.jumbotron-fluid {
    padding:0;
}
.parallax {
    text-align:center;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    overflow:hidden;
	height: 100%;
}
 
.register{
  background: #76B3FA;
  border-radius: 100px;
  padding: 20px 60px;
  color: #fff;
  font-family: 'Varela Round', cursive;
  text-decoration: none;
  font-size: 70%;
  margin: 0 15px;
}
.register:hover{
	text-decoration:none;
}

.register:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate; 
  background: #5F9BE0;
}
.heading {
    padding-bottom:15px;
    text-align:center;
    max-width:960px;
    margin:0 auto;
    padding-top:80px;
}
 
.heading h2 {
    font-weight:600;
    font-family:'Raleway';
    font-size:40px;
    color:#333;
    margin:0;
    padding:5px;
}
 
.heading h3 {
    font-size:1em;
    line-height:1.7;
}
 
#site-title {
    max-width:150px;
	max-height:500px;
}

#imun_logo {
	max-width:50px;
	float:left;
	margin-right:10px;
}
.testimonial_subtitle{
    color: #0aaa7a;
    font-size: 12px;
}
.testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
}
.img-responsible{
	width:50%;
	height:60%;
}
.footer {
    background:black;
    margin-top:180px;
    position:relative
}
 
.footer .container {
    padding:20px 0 20px;
}
 
.footer ul {
    margin:0 auto;
    margin-bottom:30px;
    margin-top:10px;
    text-align:center;
    list-style-type:none;
    padding-left:0;
}
 
.footer ul li {
    text-align:center;
    display:inline-block;
    background:rgba(0,0,0,0.2);
    color:#fff;
    line-height:45px;
    margin:0 4px;
    width:45px!important;
    height:45px!important;
    -webkit-border-radius:3px;
    border-radius:3px;
}
 
.footer ul li:hover {
    background:#2a2a2a;
}
 
.footer ul li:hover a {
    color:#fff;
}
 
.footer ul li a {
    color:#fff;
    width:42px!important;
    height:42px!important;
}
 
.footer ul li a i {
    line-height:45px;
    color:#fff;
}
 
.footer p {
    color:#fff;
    font-size:.9em;
    line-height:24px;
    font-weight:300;
    text-align:left;
    text-transform:uppercase;
}
 
.footer a,.footer a:hover {
    color:#fff;
}